/* Stylesheet by Amy Willoughby, 2018 */
header {
    font-family: serif;
    font-size: 1.5em;
    font-weight: bold;
}

#mapid {
    height: 450px;
    width: 80%;
    display: inline-block;
    float: left;
}

#choropleth.leaflet-interactive {
    z-index: 0;
}